<footer class="footer py-3 mt-auto bg-dark text-center" id="homeFooter">
  <div class="container">
    <div class="mb-2">
      <a href="/campgrounds"><img src="/images/github.svg" alt="github image" width="50px" height="40px"></a>
      <a href="/campgrounds"><img src="/images/linkdin.svg" alt="linkdin image" width="50px" height="40px"></a>
    </div>
    <div><span class="text-light fw-bold"> &copy; YelpCamp 2022 </span></div>
  </div>
</footer>