<footer class="footer py-3 mt-auto bg-dark text-center" id="homeFooter">
  <div class="container">
    <div class="mb-2">
      <a href="/campgrounds" class="text-light" style="text-decoration: none;"> <i
          class="fa-brands fa-github fa-xl px-2"></i></a>
      <a href="/campgrounds" class="text-light" style="text-decoration: none;">
        <i class="fa-brands fa-linkedin fa-xl px-2"></i></a>
    </div>
    <div><span class="text-muted fw-bold"> &copy; YelpCamp 2022 </span></div>

  </div>

</footer>