body {
  position: relative;
}
.up-btn {
  position: fixed;
  background-color: #f8f8f8;
  color: black;
  right: 5px;
  bottom: 5px;
  opacity: 0;
  transition: 0.3s;
}
.scrolled {
  opacity: 1;
}
a {
  text-decoration: none;
}

.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.show-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.delete-image-div {
  height: 200px;
  position: relative;
}
.delete-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}
.fa-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
}
.delete-image-div:hover .delete-image {
  filter: opacity(0.7);
  transform: scale(1.2);
}
.delete-image-div:hover .fa-trash {
  opacity: 1;
}
.img-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.btn-close:active,
.btn-close:hover {
  outline: 0;
  box-shadow: none;
}

#navbarNavAltMarkup a {
  border-bottom: 3px solid transparent;
  transition: 0.4s;
}

#navbarNavAltMarkup a:hover {
  color: white;
  border-bottom-color: white;
}

.nav-mainLogo {
  width: 30px;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.fa-chevron-circle-down,
.fa-angle-double-right,
.fa-arrow-left {
  transition: 0.2s;
}

#index-card {
  transition: 0.3s;
}

#index-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px gray;
}

.camp-viewMore:hover .fa-angle-double-right {
  transform: translateX(4px);
}

#paginate:hover .fa-chevron-circle-down {
  transform: translateY(3px);
}

.back-btn:hover .fa-arrow-left {
  transform: translateX(-4px);
}

.github-svg,
.linkdin-svg {
  width: 60px;
}
