.pop-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("image.jpg") no-repeat center;
  background-size: cover;
}

.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.show-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.delete-image {
  height: 100px;
  object-fit: cover;
}
.img-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-card-image{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.btn-close:active,
.btn-close:hover {
  outline: 0;
  box-shadow: none;
}

#navbarNavAltMarkup a {
  border-bottom: 3px solid transparent;
  transition: 0.4s;
}

#navbarNavAltMarkup a:hover {
  color: white;
  border-bottom-color: white;
}

#mainLogo {
  color: rgb(241, 33, 33);
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.fa-chevron-circle-down,
.fa-angle-double-right {
  transition: 0.2s;
}

#index-card {
  transition: 0.3s;
}

#index-card:hover {
  transform: translateX(15px);
  box-shadow: 5px 5px 10px gray;
}

.btn-dark:hover .fa-angle-double-right {
  transform: translateX(3px);
}
#paginate:hover .fa-chevron-circle-down {
  transform: translateY(3px);
}
