<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/4f3805b72c.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex flex-column text-center text-white bg-dark">
    <header class="mb-auto">
        <%- include("../partials/navbar") %>
    </header>
    <div class="cover-container m-auto">
        <main class="px-3" data-aos="fade-up">
            <h1><i class="fa-brands fa-yelp fa-lg mx-1" id="mainLogo"></i> YelpCamp</h1>
            <p class="lead fw-normal">The only place you need to plan your next camp <br>
                Explore hundreds of camp sites across India and share your own</p>
            <a href="/campgrounds" class="btn btn-secondary btn-light bg-white mt-2">View Campgrounds</a>
        </main>
    </div>
    <footer class="mt-auto">
        <%- include("../partials/footer") %>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>